.dynamic {
  background: url(./images/background.jpg) no-repeat;
  background-size: cover;
  border: 1px solid rgba(0, 0, 0, 0);
}

.contentBox {
  display: table;
  width: 90%;
  height: 820px;
  background-color: #fff;
  position: relative;
  table-layout: fixed;
  padding: 70px 0 0 0;
  margin: 100px auto 40px;
}

.title {
  margin-left: 25%;
  line-height: 1;
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 30px;
}

.title img {
  margin-bottom: 20px;
}

.ul {
  width: 100%;
  font-size: 13px;
  background-color: #fff;
  position: relative;
  height: 670px;
  overflow-y: auto;
  padding-right: 100px;
}

.list {
  display: block;
  padding: 40px 0 60px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: left;
}

.left {
  width: 5%;
  margin: 0 auto;
  position: relative;
}

.line {
  position: absolute;
  top: 50%;
  left: -40px;
  width: 50px;
  line-height: 80px;
  text-align: center;
  border: 1px solid rgb(151, 151, 151);
  transition: left 1s ease;
}

.right {
  width: 80%;
}

.left:hover .line{
  left: 70px;
}

.titleBox {
  width: 80px;
  height: 80px;
  text-align: center;
  border: 1px solid #000;
  border-radius: 40px;
  padding: 40% 0;
}

.rightContent {
  color: #bdbdbd;
  margin-top: 10px;
}